/*------------------------BASE------------------------ */

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: rgb(255, 255, 255);
}

/*.....header..... */
header {
    display: flex;
    flex-direction: column;
}

.tituloHerencia {
    display: flex;
    font-size: 40px;
    color: white;
    align-items: center;
}

#superior {
    background: rgb(15, 15, 15);
    margin: 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: #337bc4, 3px, solid;
}

#loginitems {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: right;
    align-items: center;
    padding: 5px 25px 5px 15px;
}

#loginItem,
#logoutItem {
    font-size: 16px;
    align-items: center;
    padding: 15px;
    border-radius: 2px;
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    color: #FFFFFF;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    cursor: pointer;
}

#textoLogin {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 15px;
    align-items: center;
}

#enlaceTitulo,
.enlaceLOG {
    text-decoration: none;
    color: whitesmoke;
}


.enlaceLOG:hover {
    text-decoration: underline;
}

#logo_izq {
    height: 120px;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0em;
    background-color: rgb(15, 15, 15);
}

.menuitem {
    text-align: center;
    width: 40%;
}

.menuitem:hover,
.menuitem:focus {
    transform: translateY(-0.35em);
}

#enlaceIndex1,
#enlaceIndex2,
#enlaceIndex3 {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    color: #FFFFFF;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    padding: 3% 28%;
    border-radius: 10px;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}


/*.....footer..... */
footer {
    background-color: rgb(31, 30, 30);
    display: flex;
    justify-content: space-evenly;
    color: white;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 100%;
    height: 50px;
}


.emailFTR,
.contactoFTR {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    padding: 7px;
    display: flex;
}

.iconosFTR {
    display: flex;
    justify-content: space-around;
}


.FB,
.YT,
.IN {
    /*separacion de los iconos entre sí*/
    margin: 5px;
}

.IN :hover {
    height: 28px;
}

.YT :hover {
    height: 28px;
}

.FB :hover {
    height: 28px;
}

.aFooter {
    /*Para quitar el subrayado de los enlaces y color morado */
    color: inherit;
    text-decoration: none;
}

.aFooter:hover {
    /*Para poner el subrayado de los enlaces al pasar el cursor */
    text-decoration: underline;
    text-decoration-color: white;
}



/*-----------------------INDEX-----------------------*/


#Portada {
    background-color: rgb(188, 207, 227);
    height: 600px;
    border-bottom: 3px solid rgb(0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../static/imagenes/Passionate-about-Machines-1080x675.jpg    ");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}


#tituloHeader {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 15px;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3
}

.textoportada {
    display: flex;
    flex: 2;
    color: white;
    margin: 0em 15em;
    font-size: 21px;
    line-height: 55px;
    text-align: center;
}

/*-----------------------LISTADO-----------------------*/


h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    word-spacing: 10px;
    font-weight: 600;
}

.tabla {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pretabla {
    display: flex;
    padding-bottom: 1.5em;
}

.botonesIZQ {
    margin-left: 7em;
    margin-top: 5em;
    display: flex;
}

.divbuscador,
.divbotonAñadir {
    margin-right: 1.2em;
    margin-left: 1.2em;
}

.botonesDER {
    justify-content: right;
    display: flex;
    margin-top: 3.8em;
}

.izquierda {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin-top: 1em;
}

.derecha {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 2em;
    margin-right: 3em;
}

.boton,
#botonAñadir,
#botonbusq,
#botonenviar,
#enlacelogin,
.botonBorrar {
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    color: #24292E;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    padding: 8px 18px;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

#botonbusq {
    cursor: default;
}



#botonAñadir:hover {
    background: #127D16;
    background-image: -webkit-linear-gradient(top, #127D16, #409A1C);
    background-image: -moz-linear-gradient(top, #127D16, #409A1C);
    background-image: -ms-linear-gradient(top, #127D16, #409A1C);
    background-image: -o-linear-gradient(top, #127D16, #409A1C);
    border: solid #000000 1px;
    filter: alpha(opacity=50);
    opacity: 0.8;
    color: black;
    font-weight: 450;
}

.botonBorrar:hover {
    background: #931C1C;
    background-image: -webkit-linear-gradient(top, #931C1C, #C02525);
    background-image: -moz-linear-gradient(top, #931C1C, #C02525);
    background-image: -ms-linear-gradient(top, #931C1C, #C02525);
    background-image: -o-linear-gradient(top, #931C1C, #C02525);
    background-image: -webkit-gradient(to bottom, #931C1C, #C02525);
    border: solid #000000 1px;
    filter: alpha(opacity=50);
    opacity: 0.8;
    color: black;
    font-weight: 550;
}

.botonInicio {
    margin-left: 8em;
    margin-top: 2em;
    margin-bottom: 5em;
}


/*parte de la tabla*/
table {
    border-collapse: collapse;
    width: 60%;
    border-radius: 5px;
    border: none;
    max-width: 70%;
    background-color: white;
    font-size: 18px;
}

.th2,
.th1 {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    padding: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

.th1 {
    border-top-left-radius: 10px;
    color: #ffffff;
    background: #324960;
}

.th2 {
    border-top-right-radius: 10px;
    border-right: none;
}

tbody tr {

    border-bottom: 1px solid #C1C3D1;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:nth-child(even) {
    background-color: #f1f2f3ae;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    border-left: 1px solid #C1C3D1;
    border-top: 1px solid #C1C3D1;
    text-align: center;
}

.trBusqueda {
    border-top: none;
}

.detalles {
    text-decoration: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    color: #24292E;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    padding: 8px 18px;
    vertical-align: middle;
    cursor: pointer;
}

.detalles:hover {
    background-color: rgb(247, 253, 247);
    text-decoration: none;
    transition-duration: 0.1s;
}


#popup {
    border: solid black 1px;
    border-radius: 5px;
    margin-left: 2em;
    padding: 1em;
    text-align: center;
    background-color: rgb(247, 253, 247);
    visibility: hidden;
    height: 30%;
}


/*___________________LOGIN_______________________*/

#login {
    border: solid black 3px;
    background-color: #4da1dd;
    border-radius: 8%;
    width: 200px;
    padding: 30px;
    height: fit-content;
}

#login_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("../static/imagenes/fondo_login.jpg");
    background-position: center;
    background-size: cover;
}

.divLogout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin-bottom: 70px;
}

#textologin {
    font-size: 20px;
}

#forgotPass {
    font-size: 15px;
    text-decoration: none;
}

#divUsernamePass {
    margin-bottom: 15px;
    font-size: 18px;
}




/*_____________________DETALLES____________________*/

ul {
    font-size: 16px;
}

li {
    padding: 10px;
}

.divDetalles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloDetalles {
    padding: 25px;
    text-align: center;
    font-size: 18px;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background: linear-gradient(180deg, rgba(235, 225, 172, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.botonesDetalles {
    margin: 4em 5em;

}

.botonDetalles {
    margin: 50px 0px;
}

.botonInicioDetalles {
    margin: 3em 30em;
}



/*_____________________FORM______________________*/

form {
    display: table;
}

p {
    display: table-row;
}

label {
    display: table-cell;
    padding: 12px;
    font-size: 20px;
    text-align: left;
}

input,
select,
textarea {
    display: table-cell;
    padding: 5px;
    vertical-align: top;
}


.formAñadir {
    flex: 1;
    display: flex;
    border: solid rgb(0, 0, 0) 1px;
    padding: 35px;
    background-color: #ebf1fde4;
    justify-content: center;
    margin: 0em auto;
    margin-bottom: 4em;
    font-size: 18px;
    border-radius: 4%;
    max-width: 700px;
    text-align: justify;
}

.formActualizar {
    flex: 1;
    display: flex;
    border: solid rgb(0, 0, 0) 1px;
    padding: 35px;
    background-color: #effdebe4;
    justify-content: center;
    margin: 0em auto;
    margin-bottom: 4em;
    font-size: 18px;
    border-radius: 4%;
    max-width: 700px;
    text-align: justify;
}


.tituloAñadir {
    background: linear-gradient(180deg, rgba(164, 201, 235, 1) 22%, rgba(255, 255, 255, 1) 100%);
    text-align: center;
    padding: 1em;
}

.tituloActualizar {
    background: linear-gradient(180deg, rgba(172, 235, 175, 1) 0%, rgba(255, 255, 255, 1) 100%);
    padding: 1em;
    text-align: center;
}

.tituloBusqueda {
    margin: 25px auto;
    font-size: 18px;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin-bottom: 3em;
}


.layoutFORM {
    display: flex
}

.invisble {
    justify-content: left;
    flex: 1;
}

.alertasFORM {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
    justify-content: right;
    margin: 4em auto;
    font-size: 20px;
}

#spanTLFN,
#spanDNI,
#spanFechas {
    max-width: 350px;
    padding: 15px;
    border: solid 1px #C02525;
    background-color: #fff6f6;
    border-radius: 5px;
    visibility: hidden;
    margin: auto 3em;
}