{% extends "base.html" %}
{% block title %} Añadir ticket {% endblock %}
{% block superior%} Deustomach Innovation {% endblock %}
{% block content %}
<div class="tituloAñadir">
    <h2>Añadir nuevo ticket</h2>
</div>
    <div class="formAñadir">
        <form action="{% url 'anadirTicket' %}" method="post">
            {% csrf_token %}
            {{ form.erros }}
            {{ form.as_p }}
            <br>
            <input type="submit" value="Nuevo ticket" id="botonAñadir" />
        </form>
    </div>

{% endblock %}