<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/estilo.css">
    <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
    <header>
        <div class="container">
            <img id="logo_izq" src="../imagenes/logo.png" alt="Error, no se pudo cargar.">
            <h1>DEUSTOMACH INNOVATION SL</h1>
            <img id="logo_der" src="../imagenes/logo.png" alt="Error, no se pudo cargar.">
        </div>
    </header>
    <div id ="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>