{% extends "base.html" %}
{% block title %} Resultados busqueda Equipo{% endblock %}
{% block superior %}Deustomach Innovation{% endblock %}
{% block content %}

    {%if busqueda%}
    <div class="tituloBusqueda">
        <h1>Resultados para: '{{busqueda}}'</h1>
    </div>
        {%if prueba%}
            No hay resultados para la búsqueda
        {%else%}
    <div class="tabla">
        <table>
            <tr>
                <th class="th1">Numero Serie</th>
                <th class="th2">Modelo</th>
                <th class="esquina"></th>
            </tr>
        {%endif%}
            {% for eq in resultado %}
                <tr>
                    <td>{{ eq.numeroSerie }}</td>
                    <td>{{ eq.modelo }}</td>
                    <td><a href="{% url 'detalleEquipo' eq.id %}" class="detalles">Ver detalles</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {%else%}
        <h1>Error al buscar</h1>  
    {%endif%}
    <br>
    <div class="botonInicio">
        <form action="{% url 'index' %}">
            <input type="submit" value="INICIO" class="boton" />
        </form>
    </div>
{% endblock %}