{% extends "base.html" %}
{% block title %} Resultados busqueda Empleado{% endblock %}
{% block content %}

    {%if busqueda%}
        <h1>RESULTADOS PARA '{{busqueda}}'</h1>
        {%if prueba%}
            No hay resultados para la búsqueda
        {%else%}
        <table>
            <tr>
                <th class="esquina"></th>
                <th>DNI</th>
                <th>Email</th>
            </tr>
        {%endif%}
            {% for em in resultado %}
                <tr>
                    <th class="numeroCol">{{ em.id }}</th>
                    <td>{{ em.DNI }}</td>
                    <td>{{ em.email }}</td>
                    <td class="detalles"><a href="{% url 'detalleEmpleado' em.id %}">ver detalles</a></td>
                </tr>
            {% endfor %}
        </table>
    {%else%}
        <h1>Error al buscar</h1>  
    {%endif%}
    <br>
    <a href="/appProyectoIW_Grupo3">INICIO</a>
{% endblock %}