<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles Equipo</title>
</head>
<body>
    {% if equipo %}
    <h2>Detalle del equipo "{{equipo.modelo}}"</h2>
    <ul>
        <li>
            <strong>Número de serie: </strong> {{ equipo.numeroSerie}}
        </li>
        <li>
            <strong>Modelo: </strong> {{ equipo.modelo}}
        </li>
        <li>
            <strong>Marca: </strong> {{ equipo.marca}}
        </li>
        <li>
            <strong>Tipo de equipo: </strong> {{ equipo.tipoEquipo}}
        </li>
        <li>
            <strong>Fecha de adquisición: </strong>{{ equipo.fechaAdquisicion}}
        </li>
        <li>
            <strong>Fecha de puesta en marcha: </strong> {{ equipo.fechaPuestaMarcha}}
        </li>
        <li>
            <strong>Nombre del proveedor: </strong> {{ equipo.proveedorNombre}}
        </li>
        <li>
            <strong>Teléfono del proveedor: </strong> {{ equipo.proveedorTelefono}}
        </li>
        <li>
            <strong>Planta: </strong> {{ equipo.planta}}
        </li>
    </ul>
    {% else %}
        <p>No existe este equipo.</p>
    {% endif %}
    <a href="{% url 'borrarEquipo' id=equipo.id %}">BORRAR</a><br>
    <a href="/appProyectoIW_Grupo3/actualizarEquipo/{{equipo.id}}">Actualizar</a><br>
    <a href="/appProyectoIW_Grupo3">Inicio</a>
</body>
</html>