<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles Equipo</title>
</head>
<body>
    {% if equipo %}
    <h2>Detalle del equipo "{{equipo.modelo}}"</h2>
    <ul>
        <li>
            <strong>NUMERO SERIE: </strong> {{ equipo.numeroSerie}}
        </li>
        <li>
            <strong>MODELO: </strong> {{ equipo.modelo}}
        </li>
        <li>
            <strong>MARCA: </strong> {{ equipo.marca}}
        </li>
        <li>
            <strong>TIPO EQUIPO: </strong> {{ equipo.tipoEquipo}}
        </li>
        <li>
            <strong>FECHA ADQUISICIÓN: </strong>FECHA ADQUISICIÓN: {{ equipo.fechaAdquisicion}}
        </li>
        <li>
            <strong>FECHA PUESTA MARCHA: </strong> {{ equipo.fechaPuestaMarcha}}
        </li>
        <li>
            <strong>NOMBRE PROVEEDOR: </strong> {{ equipo.proveedorNombre}}
        </li>
        <li>
            <strong>TELÉFONO PROVEEDOR: </strong> {{ equipo.proveedorTelefono}}
        </li>
        <li>
            <strong>PLANTA: </strong> {{ equipo.planta}}
        </li>
    </ul>
    {% else %}
        <p>No existe este equipo.</p>
    {% endif %}
    <a href="{% url 'borrarEquipo' id=equipo.id %}">BORRAR</a>
</body>
</html>