<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Ticket</title>
</head>
<body>
    {% if ticket %}
    <ul>
        <li>
            <strong>NUMERO SERIE EQUIPO: </strong> {{ ticket.equipo.numeroSerie}}
        </li>
        <li>
            <strong>DNI EMPLEADO: </strong> {{ ticket.empleado.DNI}}
        </li>
        <li>
            <strong>NUMERO REFERENCIA: </strong> {{ ticket.numeroReferencia}}
        </li>
        <li>
            <strong>TÍTULO: </strong> {{ ticket.titulo}}
        </li>
        <li>
            <strong>DESCRIPCIÓN: </strong> {{ ticket.descripcion}}
        </li>
        <li>
            <strong>FECHA APERTURA: </strong> {{ ticket.fechaApertura}}
        </li>
        <li>
            <strong>FECHA RESOLUCIÓN: </strong> {{ ticket.fechaResolucion}}
        </li>
        <li>
            <strong>NIVEL URGENCIA: </strong> {{ ticket.nivelUrgencia}}
        </li>
        <li>
            <strong>TIPO DE TICKET: </strong> {{ ticket.tipoTicket}}
        </li>
        <li>
            <strong>ESTADO: </strong> {{ ticket.estado}}
        </li>
        <li>
            <strong>COMENTARIOS: </strong> {{ ticket.comentarios}}
        </li>
    </ul>
    {% else %}
        <p>No existe este equipo.</p>
    {% endif %}
    <a href="{% url 'borrarTicket' id=ticket.id %}">BORRAR</a>
</body>
</html>