<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del empleado</title>
</head>
<body>
    {% if empleado %}
    <h2>Detalle del empleado "{{empleado.DNI}}"</h2>
    <ul>
        <li>
            <strong>DNI: </strong>{{ empleado.DNI}}
        </li>
        <li>
            <strong>Nombre: </strong> {{ empleado.nombre}}
        </li>
        <li>
            <strong>Apellido: </strong> {{ empleado.apellido}}
        </li>
        <li>
            <strong>Email: </strong> {{ empleado.email}}
        </li>
        <li>
            <strong>Teléfono: </strong> {{ empleado.telfono}}
        </li>
    </ul>
    {% else %}
        <p>No existe este equipo.</p>
    {% endif %}
    <a href="{% url 'borrarEmpleado' id=empleado.id %}">BORRAR</a><br>
    <a href="/appProyectoIW_Grupo3/actualizarEmpleado/{{empleado.id}}">Actualizar</a><br>
    <a href="/appProyectoIW_Grupo3">Inicio</a>
</body>
</html>