{% extends "base.html" %}
{% block title %} Deustomach innovation {% endblock %}
{% block content %}
    {% if ticket %}
    <h2>Detalle del ticket "{{ticket.equipo.numeroSerie}}"</h2>
    <ul>
        <li>
            <strong>Número de serie del equipo: </strong> <a href="{% url 'detalleEquipo' ticket.equipo.id %}">{{ticket.equipo.numeroSerie}}</a>
        </li>
        <li>
            <strong>DNI del empleado: </strong> <a href="{% url 'detalleEmpleado' ticket.empleado.id %}">{{ticket.empleado.DNI}}</a>
        </li>
        </li>
        <li>
            <strong>Número de referencia: </strong> {{ticket.numeroReferencia}}
        </li>
        <li>
            <strong>Título: </strong> {{ticket.titulo}}
        </li>
        <li>
            <strong>Descripción: </strong> {{ticket.descripcion}}
        </li>
        <li>
            <strong>Fecha de apertura: </strong> {{ticket.fechaApertura}}
        </li>
        <li>
            <strong>Fecha de resolución: </strong> {{ticket.fechaResolucion}}
        </li>
        <li>
            <strong>Nivel de urgencia: </strong> {{ticket.nivelUrgencia}}
        </li>
        <li>
            <strong>Tipo de ticket: </strong> {{ticket.tipoTicket}}
        </li>
        <li>
            <strong>Estado: </strong> {{ticket.estado}}
        </li>
        <li>
            <strong>Comentarios: </strong> {{ticket.comentarios}}
        </li>
    </ul>
    {% else %}
        <p>No existe este equipo.</p>
    {% endif %}
    <a href="{% url 'borrarTicket' id=ticket.id %}">BORRAR</a><br>
    <a href="/appProyectoIW_Grupo3/">Inicio</a>
{% endblock %}