<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if empleado %}
    <h2>Detalle del empleado "{{empleado.DNI}}"</h2>
    <ul>
        <li>
            <strong>DNI: </strong>{{ empleado.DNI}}
        </li>
        <li>
            <strong>NOMBRE: </strong> {{ empleado.nombre}}
        </li>
        <li>
            <strong>APELLIDO: </strong> {{ empleado.apellido}}
        </li>
        <li>
            <strong>EMAIL: </strong> {{ empleado.email}}
        </li>
        <li>
            <strong>TELÉFONO: </strong> {{ empleado.telfono}}
        </li>
    </ul>
    {% else %}
        <p>No existe este equipo.</p>
    {% endif %}
    <a href="{% url 'borrarEmpleado' id=empleado.id %}">BORRAR</a>
</body>
</html>