{% extends "base.html" %}
{% block title %} Deustomach innovation {% endblock %}
{% block content %}
<div id="Portada">
    <div id="tituloHeader">
        <h1><a id="enlaceTitulo" href="/appProyectoIW_Grupo3">DEUSTOMACH INNOVATION SL</a></h1>
    </div>
    <div class="textoportada">
        Página web para la gestión de equipos, empleados y tickets de la empresa DeustoMach Innovation.
        Servicios disponibles: Creación, borrado y actualización de equipos, empleados y tickets
    </div>
</div>
{% endblock %}