{% extends "base.html" %}
{% block title %} Deustomach innovation {% endblock %}
{% block content %}
    <p>Página web para la gestión de equipos, empleados y tickets de la empresa DeustoMach Innovation</p>
    <br>
    <ul>
        <li><a href="/appProyectoIW_Grupo3/listadoEquipos">LISTADO DE EQUIPOS</a></li>
        <li><a href="/appProyectoIW_Grupo3/listadoTickets">LISTADO DE TICKETS</a></li>
        <li><a href="/appProyectoIW_Grupo3/listadoEmpleados">LISTADO DE EMPLEADOS</a></li>
    </ul>
{% endblock %}