<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DEUSTOMACH INNOVATION SL</h1><br>
    <ul>
        <li><a href="/appProyectoIW_Grupo3/listadoEquipos">LISTADO DE EQUIPOS</a></li>
        <li><a href="">LISTADO DE TIQUETS</a></li>
        <li><a href="">LISTADO DE EMPLEADOS</a></li>
    </ul>
</body>
</html>