{% extends "base.html" %}
{% block title %} Listado tickets {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h2 id="perico">LISTADO DE TICKETS</h2><br>
        <form method="post" action="{% url 'buscarTicket' %}">
            {% csrf_token %}
            {{ form.erros }}
            {{ form.as_p }}
            <input type="search" placeholder= 'Busca un título', name="busqueda">
            <input type="submit">
        </form>
        {% if ticket %}
            <table>
                <tr>
                    <th class="esquina"></th>
                    <th>Titulo</th>
                    <th>Estado</th>
                </tr>
                {% for tick in ticket %}
                <tr>
                    <th class="numeroCol">{{ tick.id }}</th>
                    <td>{{ tick.titulo }}</td>
                    <td>{{ tick.estado }}</td>
                    <td class="detalles"><a href="{% url 'detalleTicket' tick.id %}">ver detalles</a></td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
        <p>No hay tickets generados.</p>
        {% endif %}
        <a href="/appProyectoIW_Grupo3/listadoTickets/anadirTicket">AÑADIR TICKET</a>
        <br>
        <a href="/appProyectoIW_Grupo3">INICIO</a><br>
        <button id="zoomOut">-</button>
        <button id="zoomIn">+</button>
    {% else %}
        <p>Accede para poder ver el contenido</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}