{% extends "base.html" %}
{% block title %} Listado equipos {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h2>LISTADO DE EQUIPOS</h2><br>
        <form method="get" action="{% url 'buscar' %}">
            {% csrf_token %}
            {{ form.erros }}
            {{ form.as_p }}
            <input type="search" name="busqueda">
            <input type="submit">
        </form>
        

        {% if equipo %}
                <table>
                    <tr>
                        <th class="esquina"></th>
                        <th>Numero Serie</th>
                        <th>Modelo</th>
                    </tr>
                    {% for eq in equipo %}
                        <tr>
                            <th class="numeroCol">{{ eq.id }}</th>
                            <td>{{ eq.numeroSerie }}</td>
                            <td>{{ eq.modelo }}</td>
                            <td class="detalles"><a href="{% url 'detalleEquipo' eq.id %}">Ver detalles</a></td>
                        </tr>
                    {% endfor %}
                </table>
        {% else %}
            <p>No hay equipos creados.</p>
        {% endif %}
        <br>
        <a href="/appProyectoIW_Grupo3/listadoEquipos/anadirEquipo">AÑADIR EQUIPO</a>
        <br>
        <a href="/appProyectoIW_Grupo3">INICIO</a>
    {% else %}
        <p>Accede para poder ver el contenido</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}