{% extends "base.html" %}
{% block title %} Listado equipos {% endblock %}
{% block superior %}Deustomach Innovation{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="pretabla">
    <div class="izquierda">
        <div class="botonesIZQ">
            <div class="divbuscador">
                <form method="post" action="{% url 'buscarTicket' %}">
                    {% csrf_token %}
                    {{ form.erros }}
                    {{ form.as_p }}
                    <input type="search" placeholder='Busca un título' , name="busqueda" ,  id="botonbusq">
                    <input type="submit" class="boton">
                </form>
            </div>
            <div class="divbotonAñadir">
                <form action="{% url 'anadirTicket' %}">
                    <input type="submit" value="Añadir nuevo" id="botonAñadir" />
                </form>
            </div>
        </div>
    </div>
    <div class="derecha">
        <div class="botonesDER">
            <div class="botonesZoom">
                <button id="zoomOut" class="boton">-</button>
                <button id="restablecer" class="boton">Restablecer</button>
                <button id="zoomIn" class="boton">+</button>
            </div>
        </div>
    </div>
</div>

<div class="tabla">
    {% if ticket %}
    <table>
        <thead>
            <tr>
                <th class="th1">Titulo</th>
                <th class="th2">Estado</th>
                <th class="esquina"></th>
            </tr>
        </thead>
        {% for tick in ticket %}
        <tr>
            <td>{{ tick.titulo }}</td>
            <td>{{ tick.estado }}</td>
            <td><a href="{% url 'detalleTicket' tick.id %}" class="detalles">Ver detalles</a></td>
        </tr>
        {% endfor %}
    </table>

    <div id="popup">
        <h2>Consultar Detalles</h2>
        <p>Aquí puedes consultar los detalles</p>
        <p>de un equipo en concreto.</p>
    </div>
</div>
<div class="botonInicio">
    <form action="{% url 'index' %}">
        <input type="submit" value="INICIO" class="boton" />
    </form>
</div>
{% else %}
<p>No hay equipos creados.</p>
{% endif %}


{% else %}
<div class="divLogout">
    <span id="textologin">
        <p>Accede para poder ver el contenido</p>
    </span>
    <span id="enlacelogin">
        <a href="{% url 'login' %}">Log In</a>
    </span>
    {% endif %}
</div>
{% endblock %}