{% extends "base.html" %}
{% block title %}Listado Empleados{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h2>LISTADO DE EMPLEADOS</h2><br>
        {% if empleado %}
            <table>
                <tr>
                    <th></th>
                    <th>DNI</th>
                    <th>Email</th>
                </tr>
                {% for em in empleado %}
                <tr>
                    <th>{{ em.id }}</th>
                    <td>{{ em.DNI }}</td>
                    <td>{{ em.email }}</td>
                    <td><a href="{% url 'detalleEmpleado' em.id %}">ver detalles</a></td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
        <p>No hay empleados en la empresa.</p>
        {% endif %}
        <a href="/appProyectoIW_Grupo3/listadoEmpleados/anadirEmpleado">AÑADIR EMPLEADO</a>
        <br>
        <a href="/appProyectoIW_Grupo3">INICIO</a>
    {% else %}
        <p>Accede para poder ver el contenido</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}

