{% extends "base.html" %}
{% block title %} Deustomach innovation {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">Log Out</a></p>
        <h2>LISTADO DE EQUIPOS</h2><br>
        {% if equipo %}
                <ul>
                {% for eq in equipo %}
                    <li>
                        <strong>Numero serie:</strong> {{ eq.numeroSerie }}<br>
                        </a><strong>Modelo:</strong> {{ eq.modelo }}<br>
                        <a href="{% url 'detalleEquipo' eq.id %}">ver detalles</a>
                    </li>
                    <br>
                {% endfor %}
                </ul>
            {% else %}
            <p>No hay equipos creados.</p>
            {% endif %}
            <br>
            <a href="/appProyectoIW_Grupo3/listadoEquipos/anadirEquipo">AÑADIR EQUIPO</a>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
        {% endif %}
{% endblock %}