<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Tickets</title>
</head>
<body>
    <a href="/appProyectoIW_Grupo3"><h1>LISTADO DE TICKETS</h1></a><br>
    {% if ticket %}
             <ul>
             {% for tick in ticket %}
                 <li>
                     Titulo: <a href="{% url 'detalleTicket' tick.id %}">{{ tick.titulo }}</a>
                 </li>
             {% endfor %}
             </ul>
    {% else %}
    <p>No hay tickets generados.</p>
    {% endif %}
</body>
</html>